<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register
      serviceType="Feature.Konabos.Loyalty.Website.Managers.ILoyaltyOrderManager, Feature.Konabos.Loyalty.Website"
      implementationType="Feature.Konabos.Loyalty.Website.Managers.LoyaltyOrderManager, Feature.Konabos.Loyalty.Website"
      lifetime="Singleton"/>
    </services>

    <commerce.XA>
      <models>
        <OrderHeaderRenderingModel>
          <patch:attribute name="type">Feature.Konabos.Loyalty.Website.Models.OrderHeaderRenderingModel, Feature.Konabos.Loyalty.Website</patch:attribute>
        </OrderHeaderRenderingModel>
      </models>
    </commerce.XA>
  </sitecore>
</configuration>